.description__data {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
@media (max-width: 768px) {
    .description__data {
        margin-top: 7px;
    }
}