.menu__image{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
@media (max-width: 768px){
    .menu__image{
        height: 500px;
    }
}
@media (max-width: 360px){
    .menu__image{
        height: 372px;
    }
}