.header__logo{
    margin: 16px 0 16px 166px;
}
@media (max-width: 1024px){
    .header__logo{
        margin: 13px 0px 13px 50px;
    }
}
@media (max-width: 360px){
    .header__logo{
        margin: 17px 0px 17px 24px;
    }
}