.description__border {
    border: 2px solid #23D1AE;
    border-style: solid none solid solid;
    width: 16px;
    height: 96px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .description__border {
        width: 15px;
        height: 90px;
        margin-right: 23px;
    }
}