.menu__paragraph{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;  
}
@media (max-width: 768px){
    .menu__paragraph {
        flex-wrap: wrap;
        flex-direction: none;
        margin-left: 14px;
        margin-top:27px;
      }
}
@media (max-width: 768px){
    .menu__paragraph:after {
        content:'';
        width:100%;
        order:0;
      }
}