.open-block__reviews {
    margin: 0;
    margin-left: 6px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #1D1D1B;
}
@media (max-width: 1280px){
    .open-block__reviews{
        font-size: 12px;
        line-height: 12px;
    }
}
@media (max-width: 768px){
    .open-block__reviews{
        font-size: 14px;
        line-height: 18px;
    }
}